.Home {
  display: flex;
  color: bg-zinc-950;
  width: 100%;
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
  height: auto;
}

.center-container {
  text-align: center;
}

.create-room-button, .join-room-button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-room-button {
  background-color: #4CAF50;
}

.create-room-button:hover {
  background-color: #45a049;
}

.join-room-button {
  background-color: #008CBA;
}

.join-room-button:hover {
  background-color: #007B9E;
}