/* Test.css */
.test-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(270deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee, #fbc2eb, #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    animation: GradientBackground 15s ease infinite;
  }
  
  @keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .center-container {
    text-align: center;
  }
  
  .create-room-button, .join-room-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-room-button {
    background-color: #4CAF50;
  }
  
  .create-room-button:hover {
    background-color: #45a049;
  }
  
  .join-room-button {
    background-color: #008CBA;
  }
  
  .join-room-button:hover {
    background-color: #007B9E;
  }